@charset "UTF-8";

/*
   cores:
   azul
*/

* {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: blue;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;  
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px, 0px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background-color: blue url(../imagens/tecnologia.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}
